<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.shop.admin.mapper.area.IAreaMapper">
	<!--查询  -->
	<select id="findAreaList" resultType="area">
		select id,areaName,areaFatherId from t_area
	</select>
</mapper>